data/working/.nfs*

data/working/fastqc_initial/*
!multiqc_report.html

data/working/deduped/*

data/working/trimmed/*

data/working/host_removed/*

data/working/fastqc_final/*
!multiqc_report.html

data/processed/*
!data/processed/evaluation/full_assembly.stats
!data/processed/kraken_bracken/README.md

data/draft_genomes/*

data/raw/*
!*.bash
!README.md

data/reference/*
!*.bash
!README.md

slurm-*
