data/working/.nfs*

data/working/fastqc_initial/*
!multiqc_report.html

data/working/deduped/*

data/working/trimmed/*

data/working/host_removed/*

data/raw/*
!*.bash
!README.md

data/reference/*
!*.bash
!README.md

slurm-*
